.homePage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* .homePage-content {
        flex-grow: 1; /* make the content fill the available vertical space */
    /*    text-align: center; /* center the content horizontally */
    /*  } */
  }