@import url('./styles/header.scss');
@import url('./styles/homePage.scss');
@import url('./styles/searchBox.scss');
@import url('./styles/searchStyles.scss');
@import url('./styles/resultsBox.scss');

.app {
  display: grid;
  overflow: hidden;
  min-width: 100svw;
}