@import url('./styles/header.scss');
@import url('./styles/homePage.scss');
@import url('./styles/searchBox.scss');
@import url('./styles/searchStyles.scss');

.app {
  display: grid;
  overflow: hidden;
  min-width: 100svw;
}

.header-currentpage-wrapper {
  min-height: 100svh;
  min-width: 100svw - 100px;
}